body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*

#------------------------
  HOMEPAGE
#------------------------

*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  position: sticky;
  top: 0;
  padding: 1.2rem 0px;
  background: #222;
  width: 100%;

  .nav-element {
    color: #a6a6a6;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.07s linear;
    text-decoration: underline rgba(255, 255, 255, 0);
    text-underline-offset: 0.4em;

    &:hover {
      transition: all 0.2s linear;
      text-underline-offset: 0.2em;
    }

    animation: nav ease-in-out both;
    animation-timeline: scroll();
    animation-range: 20px 130px;
  }

  z-index: 99999;
}

.home:hover {
  color: #fff;
}

.json-header:hover{
    color: #e18f00;
    text-decoration-color: #e18f00;
}

.xml-header:hover {
  color: #c42a2a;
    text-decoration-color: #c42a2a;
}

a {
  all: unset;
}

h1 {
  text-align: center;
  font-size: 5rem;
  max-width: 800px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 128px 0;
  width: 90vw;
  opacity: 0;
  animation: opacity 0.6s ease-in-out both;
}

.box {
  background-color: rgba(64, 64, 64, 0.8);
  min-height: 60vh;
  border-radius: 10px;
  width: 80%;
  opacity: 0;
  transform: translateY(20px);
  animation: opacity 0.6s ease-in-out both;
  animation-delay: 300ms;
  font-size: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  margin-top: -100px;
  animation: opacity 0.6s ease-in-out both;
  transform: translateY(20px);
}

.title img {
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.box img {
  width: 40%;
  border-radius: 10px;
}

.examples {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bigger {
  font-size: 5.55rem;
  max-width: 800px;
}

.json {
  color: #e18f00;
}

.xml {
  color: #c42a2a;
}

/*

#------------------------
  SECTIONS
#------------------------

*/

.cm-s-darcula {
  width: 700px;
  border-radius: 4px;
}

.CodeMirror, .cm-s-darcula {
  height: 350px;
}

.json-code .cm-s-darcula{
  border: 3px solid rgba(225,	143,	0, .6);
}

.xml-code .cm-s-darcula{
  border: 3px solid rgba(196,	42,	42, .6);
}

.main{
  margin-top: 80px !important;
  width: 98vw;
  display: grid;
  grid-template-columns: 40% 60%;
}

.main .box {
  width: 80%;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: opacity 0.6s ease-in-out both;
  opacity: 0;
  transform: translateY(20px);

}

.section main {
  position: sticky;
  top: 150px;
}

.btn {
  margin-bottom: 64px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 3vw;
  position: sticky;
  top: 530px;
}

.btn button {
  all: unset;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  padding: 10px;
  min-width: 150px;
  text-align: center;
  font-weight: bolder;
  transform: translateY(20px);
  animation: opacity 0.6s ease-in-out both;
  opacity: 0;

  &:hover {
    transition: all .1s ease-in-out;
  }
}

.json-code .btn button, .json-code .fetch-btn button {
  background-color: rgba(225,	143,	0, .6);

  &:hover {
    background-color: rgba(225,	143,	0, 1);
  }

}

.xml-code .btn button, .xml-code .fetch-btn button {
  background-color: rgba(196,	42,	42, .6);

  &:hover {
    background-color: rgba(196,	42,	42, 1);
  }

}

.fetch{
  position: sticky;
  top: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -50px;
  height: 100px;
}

.fetch #fetch{
  all: unset;
  background-color: #333;
  width: 500px;
  font-size: 1.5rem;
  border:2px solid rgba(225,	143,	0, .6); 
  border-radius: 4px;

  transform: translateY(80px);
  animation: opacity 0.6s ease-in-out both;
  opacity: 0;
  
}

.json-code #fetch {
  border:2px solid rgba(225,	143,	0, .6); 
}

.xml-code #fetch {
  border:2px solid rgba(196,	42,	42, .6);
}

.fetch-btn button{
  all: unset;
  border-radius: 4px;
  font-size: 0.85rem;
  text-align: center;
  padding: 10px;
  margin-left: -15px;
  font-weight: bold;
  cursor: pointer;
  min-width: 150px;
  transition: all .2s ease-in-out;
  transform: translateY(80px);
  animation: opacity 0.6s ease-in-out both;
  opacity: 0;

  &:hover {
    transition: all .1s ease-in-out;
  }
}

.placeholder {
  font-size: 2rem;
  color: #a6a6a6;
}

.graph{
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph img {
  cursor: pointer;
  margin: 20px 0 0 20px;
  width: 200px;
}

/*

#------------------------
  JSON
#------------------------

*/

.object {
  min-width: 200px;
  font-size: 1rem;
  color: #fff;
  border-radius: 4px;
  border: 3px solid #e18f00;
  margin: 20px;
  padding-bottom: 10px;
  max-width: 800px;
}

@media (max-width: 1750px) {

  main .box {
    padding: 40px 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
  }

  .section {
    position: static;
    margin-bottom: 100px;
    margin-top: -100px;
  }

  .fetch{
    position: absolute;
    top:600px;
  }

  .main .box{
    margin-left: 40px;
  }

}

.array {
  border: 5px solid #00E18F;
  margin-top: 20px;
  margin: 20px;
  border-radius: 6px;
  max-width: 800px;
}

.key {
  color: #e18f00;
  font-weight: bolder;
}

.array-title {
  display: block;
  margin-top: 0;
  background-color: #00E18F;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding-right: -10px;
  color: #222 ;
  padding-bottom: 4px;
  font-weight: bold;
  z-index: 2;
}

.array-item {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.object-title {
  display: block;
  margin-top: 0;
  font-size: 20px;
  background-color: #e18f00;
  text-align: center;
  width: 100%;
  color: #222;
  padding-bottom: 4px;
  font-weight: bold;
  z-index: 3;
}

.object-line {
  margin: 20px;
}

.with-image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.url {
  all: unset;
  text-decoration: underline;
  color: #00E18F;
  cursor: pointer;
  word-wrap: break-word;
}

/*

#------------------------
  XML
#------------------------

*/

.element {
  min-width: 200px;
  font-size: 1rem;
  color: #fff;
  border-radius: 4px;
  border: 5px solid #C42A2A;
  margin: 10px;
  max-width: 800px;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px
}

.element-title {
  display: block;
  font-size: 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #C42A2A;
  text-align: center;
  width: 100%;
  color: #111;
  padding-bottom: 4px;
  font-weight: bold;
  position: absolute; /* Cambiado a absolute */
}

.attrib {
  background-color: #fff;
  text-align: center;
  border-bottom: 5px solid #C42A2A;
  width: calc(100% + 40px); /* Hacer que .attrib tenga el mismo ancho que .element */
  color: #222;
  padding-bottom: 4px;
  font-weight: bold;
  margin-top: -10px;
}

/*

#------------------------
  ANIMATIONS
#------------------------

*/

@keyframes opacity {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes nav {
  to {
    font-size: 1.2rem;
    background: rgba(34, 34, 34, 1);
  }
}
